@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We value your privacy and are committed to protecting your personal information. This privacy policy outlines how we collect, use,
    and protect the information you provide while using our services specifically regarding your notes and related data..</p>
